/**
 * Plugin Styles
 *
 * Created     December 6, 2017
 * 
 * @package    WooCommerce Gateway Bread
 * @author     Miller Media
 * @since      0.1.0
 */

div#bread-placeholder {
    border: 2px solid #999;
    border-radius: 8px;
    color: #999;
    display: inline-block;
    position: relative;
    height: 50px;
    width: 200px;
}

div.bread-placeholder-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    bottom: 0;
    padding: 0 1em;
}

div.bread-placeholder-center {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: table;
}

div.bread-placeholder-center-inner {
    display: table-cell;
    vertical-align: middle;
}

div.bread-placeholder-icon {
    position: absolute;
    top: -1px;
    right: -51px;
    bottom: -1px;
    left: 100%;
    margin-left: -50px;
    margin-right: 50px;
    background-color: #999;
    background-repeat: no-repeat;
    background-image: url(../image/coind.svg);
    background-position: center;
    background-size: auto 30px;
    border-radius: 0 4px 4px 0;
}

